{
  "printWidth": 80,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
