@use "sass:map";
@use "sass:meta";

@mixin scrollbars {
  scrollbar-width: thin;
  scrollbar-color: gray rgba(0, 0, 0, 0);

  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin styles(
  $background-color,
  $blur,
  $border,
  $border-radius,
  $padding,
  $text,
  $link,
  $search-mask,
  $background-color-2,
  $color
) {
  // Global styles
  html {
    @media (min-width: 769px) {
      height: 100%;
      overflow: hidden;
    }
  }

  body {
    margin: 0;
    height: 100%;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(/global/OSPedia-background.svg);

    @media (min-width: 769px) {
      overflow: hidden;
      background-size: cover;
    }
  }

  // Define grid-related styles here
  div.wrapper {
    width: 100%;
    overflow-x: hidden;
    background-color: $background-color-2;

    @media (min-width: 769px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 100dvh;
      backdrop-filter: $blur;
      height: 100dvh;
      overflow: hidden;

      aside.tree {
        grid-column: 1;
      }

      main {
        grid-column: 2;
        grid-row: 1;
      }
    }

    @media (min-width: 1440px) {
      grid-template-columns: 1fr 864px 1fr;
      grid-template-rows: 1fr;

      aside.tree {
        grid-row: 1;
        grid-column: 1;
      }

      main {
        grid-row: 1;
        grid-column: 2;
      }

      div.contents {
        grid-row: 1;
        grid-column: 3;
      }
    }
  }

  main,
  aside.tree,
  div.contents {
    padding: $padding;
    min-height: 0;
    overflow: scroll;
    box-sizing: border-box;
    @include scrollbars;

    @media (min-width: 1440px) {
      height: 100%;
    }
  }

  main {
    width: 100%;
    padding: 0;
    padding-top: 5rem;
    background-attachment: fixed;
    background-position: center;
    color: $color;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    grid-row: 2;

    h2.level-one {
      scroll-margin-top: 5rem;
      padding-top: 1rem;
      border-top: solid 1px white;
    }

    div.content {
      width: 100%;
      height: 100dvh;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      padding: $padding;
      padding-bottom: calc(6 * $padding);
      box-sizing: border-box;
      @include scrollbars;
      backdrop-filter: $blur;
      background-color: $background-color-2;
    }

    @media (min-width: 769px) {
      background-attachment: scroll;
    }
  }

  aside.tree {
    width: max-content;
    padding: $padding;
    padding-top: 5rem;
    display: none;
    color: $text;
    overflow-x: hidden;
    scrollbar-width: thin;
    grid-column: 1;
    height: 100%;
    overflow: auto;

    div.tree-os-name {
      position: sticky;
      top: 0;
      font-size: 2rem;
    }

    @media (min-width: 769px) {
      display: block;
      display: flex;
      flex-direction: column;
      justify-self: end;
    }
  }

  div.contents {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    backdrop-filter: $blur;
    padding: $padding;
    border-radius: $border-radius;
    margin-bottom: calc(2 * $padding);
    width: 100%;

    h2 {
      color: black;
    }

    div.links {
      display: flex;
      flex-direction: column;
      justify-self: start;
      align-items: start;

      a {
        padding: calc(1 / 4 * $padding) 0;
        z-index: 10;
      }

      a.subheadings {
        padding-left: $padding;
      }

      a.subsubheadings {
        padding-left: calc(2 * $padding);
      }
    }

    @media (min-width: 1440px) {
      padding-top: 4rem;
      justify-self: start;
      align-items: flex-start;
      background-color: rgba(255, 255, 255, 0);
      width: max-content;

      div.links {
        align-items: flex-start;
      }
    }
  }

  h2#toc {
    scroll-margin-top: 5rem;
    color: $color;
  }

  div#back-to-top {
    padding: $padding;
    position: fixed;
    bottom: $padding;
    right: $padding;
    text-align: center;
    background-color: $background-color;
    color: $color;
    border-radius: $border-radius;
    z-index: 10;
    backdrop-filter: $blur;
    transition: ease-out 0.3s;

    a {
      color: $color;
    }

    &:hover {
      filter: drop-shadow(0 0 1px $background-color);
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  #heading {
    font-size: 2rem;
    font-weight: bold;
  }

  #info,
  .info {
    display: flex;
    position: relative;
    background-color: $background-color;
    color: $text;
    border-radius: $border-radius;
    backdrop-filter: $blur;
    flex-direction: column;
    align-content: center;
    padding: calc(2 * $padding);
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;

    img {
      align-self: center;
      width: 15rem;
    }

    img.NT4-0-icon {
      width: 50%;
      height: auto;
    }
  }

  li {
    list-style: disc;
  }

  .level-one {
    font-weight: 700;
    font-size: 1.484375rem;
  }

  .level-two {
    font-weight: 600;
    font-size: 1.34375rem;
  }

  .level-three {
    font-weight: 580;
    font-size: 1.1953125rem;
  }

  .div-level-two {
    height: 100%;
    margin-left: 20px;
  }

  .bolden {
    font-weight: 600;
  }

  a {
    color: #0061c9;
    text-decoration: none;
  }

  kbd {
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: 10%;
    padding: 1px 2.5px;
    color: #000;
  }

  // Navbar styling
  nav {
    background-color: $background-color;
    backdrop-filter: $blur;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    list-style: none;

    ul {
      flex-wrap: nowrap;
      display: none;
    }

    ul > li.nav,
    ul > li.nav a,
    ul > li.nav a:visited {
      list-style: none;
      margin-right: 20px;
      text-decoration: none;
      color: #3266fb;
      display: inline-block;
    }

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      display: block;
    }

    .dark-mode-toggle {
      height: 60%;
    }

    @media (min-width: 769px) {
      img:nth-child(1) {
        display: block;
      }

      img:nth-child(2) {
        display: none;
      }

      ul {
        display: flex;
      }
    }
  }

  nav > * {
    padding: 10px;
  }

  .nav:hover {
    color: #001fff;
  }

  // Page navigation styling
  div.article-nav {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    color: #000;
    margin: 1rem 0;

    @media (max-width: 414px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: $padding;
    }
  }

  div.prxt {
    padding: calc(1 / 2 * $padding);
    margin: calc(1 / 2 * $padding);
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: $border-radius;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-sizing: border-box;

    span {
      display: flex;
      align-items: center;
      text-align: center;
    }

    img {
      height: 3rem;
      object-fit: contain;
      padding-right: calc(1 / 2 * $padding);
    }

    @media (max-width: 414px) {
      height: 100%;

      span {
        flex-direction: column;
      }

      img {
        height: auto;
        max-width: 6rem;
      }
    }
  }

  :root {
    --vh: 99dvh;
  }

  img.hamburger-menu-icon {
    width: 32px;
    height: 32px;

    @media (min-width: 769px) {
      display: none;
    }
  }

  img.hamburger-menu-close {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
    width: 24px;
    height: 24px;
  }

  div.hamburger-menu {
    position: fixed;
    height: var(--vh);
    top: 0;
    right: -12rem;
    text-align: center;
    background-color: $background-color;
    backdrop-filter: blur(5px);
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    z-index: 9999;
    transition: right 0.2s ease-out;

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    li {
      padding: 20% 1vw;
      text-align: right;
      list-style: none;
    }

    a {
      color: #3266fb;
      text-decoration: none;
    }

    img.hamburger-menu-logo {
      position: absolute;
      width: 90%;
      bottom: 2%;
    }

    &.show {
      right: 0;
    }
  }

  div#search {
    width: -webkit-fill-available;
    height: 70%;
    position: relative;
  }

  .pagefind-ui {
    height: 100%;
  }

  .pagefind-ui__form {
    height: 100%;
  }

  .pagefind-ui__drawer,
  .pagefind-ui__drawer::after {
    position: fixed;
    top: 12vh;
    // bottom: 2vh;
    width: 96vw !important;
    max-width: 1024px !important;
    height: 80vh !important;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-color;
    padding: $border-radius;
    border: none;
    border-radius: $border-radius;
    scrollbar-width: thin;
    scrollbar-color: gray rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  .pagefind-ui__form::before {
    width: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
    height: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
    top: calc(7 / 10 * 45 / 100 * 7 / 10 * 5rem) !important;
    left: calc(7 / 10 * 8 / 10 * 1.25rem) !important;
    content: "" !important;
    position: absolute !important;
    display: block !important;
    opacity: 0.7 !important;
    -webkit-mask-image: $search-mask !important;
    mask-image: $search-mask !important;
    -webkit-mask-size: 70% !important;
    mask-size: 70% !important;
    z-index: 9 !important;
    pointer-events: none !important;
    mask-repeat: no-repeat;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  .pagefind-ui {
    height: 100% !important;
  }

  .pagefind-ui__form {
    height: 100% !important;
  }

  .pagefind-ui__drawer li {
    border: none !important;
  }

  .pagefind-ui__search-input {
    padding-left: calc(3.5vh + $border-radius) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    height: 100% !important;

    &::placeholder {
      opacity: 0.7 !important;
    }
  }

  .pagefind-ui__search-clear {
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
    padding: 0 2.5% !important;
    border: 2px solid black;
  }

  .pagefind-ui__blur {
    position: fixed;
    backdrop-filter: blur(5px);
    top: 12vh;
    bottom: 2vh;
    width: 96vw !important;
    max-width: 1024px !important;
    height: 80vh !important;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  // Table styling
  table {
    border-collapse: separate;
    border-radius: 10px;
    border: none;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000;
    margin: 10px;
    backdrop-filter: blur(2.5px);
    float: none;
    width: 98%;
  }

  table.releases {
    height: 400px !important;
    overflow-y: scroll;
  }

  .previous-release {
    background-color: rgba(255, 222, 173, 0.7);
  }

  .current-release {
    background-color: rgba(152, 221, 157, 0.7);
  }

  .beta-release {
    background-color: rgba(176, 231, 255, 0.7);
  }

  .security-response {
    background-color: rgba(195, 156, 227, 0.7);
  }

  th,
  td {
    border: solid 0.5px #000;
    padding: 10px;
  }

  td.top,
  th.top {
    border-top: 2px solid #000;
  }

  .left {
    border-left: 2px solid #000;
  }

  .right {
    border-right: 2px solid #000;
  }

  .bottom {
    border-bottom: 2px solid #000;
  }

  .top-left {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-top-left-radius: 10px;
  }

  .top-right {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-top-right-radius: 10px;
  }

  .bottom-left {
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom-left-radius: 10px;
  }

  .bottom-right {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom-right-radius: 10px;
  }
}

@mixin index-styles(
  $background-color,
  $background-color-2,
  $blur,
  $border-radius,
  $color
) {
  div.wrapper {
    background-color: rgba(0, 0, 0, 0);

    main {
      color: $color;
    }

    div.content {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      backdrop-filter: $blur;
      background-color: $background-color-2;
    }

    * {
      z-index: 1;
    }
  }

  div#card-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
  }

  div.home-os-cards {
    border-radius: 10px;
    position: relative;
    height: 50rem;
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;

    &::after {
      // backdrop-filter: $blur;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      background-color: $background-color;
      border-radius: $border-radius;
    }

    * {
      z-index: 1;
      position: relative;
    }
  }

  div.home-os-cards div.top {
    height: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }

  div.home-os-cards div.home-overlay {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: $blur;
    height: 100%;
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  div.home-os-cards > div.bottom {
    height: 50%;
    margin: 1vh 1vw;
    padding: 1vh 2vw;
    border: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  div.home-os-cards img.logo {
    max-width: 60%;
    max-height: 60%;
    filter: drop-shadow(0 0 120px black);
  }

  div#top-banner {
    width: 100%;
    height: 360px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      align-self: center;
      max-height: 40%;
      left: 50%;
    }
  }

  body {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div.contents {
    display: none;
  }

  div.wrapper main {
    @media (min-width: 1440px) {
      grid-column: span 2;
      max-width: 1034px;

      div.content {
        max-width: 100%;
      }
    }
  }

  .marquee {
    --width: -100%;
    width: 100%;
    height: 4rem;
    white-space: nowrap;
    box-sizing: border-box;

    div {
      display: inline-flex;
      height: 100%;
      width: max-content;
      animation: marquee 1s linear infinite;
      animation-play-state: paused;
      gap: 2rem;
    }

    img {
      height: 100%;
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(var(--width), 0);
    }
  }
}
