@use "sass:map";
@use "sass:meta";
@use "sass:color";

@mixin scrollbars {
  scrollbar-width: thin;
  scrollbar-color: gray rgba(0, 0, 0, 0);

  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin styles($background-color,
  $blur,
  $border,
  $border-radius,
  $padding,
  $text,
  $link,
  $search-mask,
  $background-color-2,
  $color) {

  // Global styles
  html {
    @media (min-width: 769px) {
      height: 100%;
      overflow: hidden;
    }
  }

  body {
    margin: 0;
    height: 100%;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    @media (min-width: 769px) {
      overflow: hidden;
      background-size: cover;
    }
  }

  .twelve-k-plus {
    display: none !important;
  }

  @media (min-width: 1200px) {
    .twelve-k-plus {
      display: block !important;
      color: $link;
    }
  }

  // Define grid-related styles here
  div.wrapper {
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @if $background-color ==rgba(255, 255, 255, 0.7) {
      background-color: rgba($color: $background-color, $alpha: 0.5);
    }

    @else {
      background-color: rgba($color: $background-color, $alpha: 0.8);
    }

    div.contents {
      position: fixed;
      display: none;

      img.contents-close {
        position: absolute;
        top: $padding;
        right: $padding;
        width: 1.5rem;

        @media (min-width: 769px) {
          display: none;
        }
      }
    }

    div.extras {
      display: none;

      &.open {
        bottom: 50%;
      }
    }

    @media (min-width: 769px) {
      grid-template-columns: 3fr 10fr;
      grid-template-rows: 1fr;
      backdrop-filter: $blur;
      height: 100dvh;
      overflow: visible;

      div.contents {
        grid-column: 1;
        display: block;
        position: relative;
      }

      main {
        grid-column: 2;
      }
    }

    @media (min-width: 1440px) {
      grid-template-columns: 1fr 864px 1fr;
      grid-template-rows: 1fr;

      div.contents {
        grid-column: 1;
      }

      main {
        grid-column: 2;
      }

      div.extras {
        grid-column: 3;
        display: block;
      }
    }
  }

  main,
  div.contents,
  div.extras {
    padding: $padding;
    min-height: 0;
    overflow: auto;
    box-sizing: border-box;
    @include scrollbars;

    @media (min-width: 1440px) {
      height: 100%;
    }
  }

  main {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    color: $color;
    background-size: cover;
    scroll-behavior: smooth;
    height: calc(100dvh - 5rem);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top: 5rem;
    padding: $padding;
    box-sizing: border-box;

    h2 {
      scroll-margin-top: 5rem;
      padding-top: 1rem;
      border-top: solid 1px rgba($color: #fff, $alpha: 0.5);
    }

    footer {
      padding: $padding 0;
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(1 / 3 * $padding);

      div:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        a {
          padding: 0 $padding;
        }
      }

      p {
        font-size: 1rem;
        text-align: center;
        margin: 0;

        @if $color ==black {
          color: rgb(40, 40, 40);
        }

        @else {
          color: rgb(200, 200, 200);
        }
      }
    }

    @media (min-width: 769px) {
      background-attachment: scroll;
    }
  }

  div.contents {
    width: 100%;
    color: $color;
    overflow-x: hidden;
    scrollbar-width: thin;
    grid-column: 1;
    overflow: auto;
    padding: $padding 0;

    &.show {
      position: fixed;
      padding: $padding;
      height: calc(100% - 10rem);
      top: 5rem;
      display: block !important;
      background-color: $background-color;
      backdrop-filter: $blur;
      z-index: 10;
    }

    div.links {
      display: flex;
      flex-direction: column;
      justify-self: start;
      align-items: start;

      a {
        padding-left: calc(1 / 4 * $padding);
        padding-top: calc(1 / 5 * $padding);
        padding-bottom: calc(1 / 5 * $padding);
      }

      a.subheadings {
        padding-left: $padding;
      }

      a.subsubheadings {
        padding-left: calc(2 * $padding);
      }
    }

    @media (min-width: 769px) {
      display: flex;
      justify-self: end;
      padding: $padding;
      padding-top: 5rem;
      height: 100%;
      box-sizing: border-box;
      @include scrollbars();
    }
  }

  div.extras {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: $padding;
    width: 100%;
    color: $color;

    @media (min-width: 1440px) {
      padding-top: 5rem;
      justify-self: start;
      align-items: flex-start;

      div.links {
        align-items: flex-start;
      }
    }
  }

  h2#toc {
    scroll-margin-top: 5rem;
    margin: $padding 0;
  }

  div#back-to-top {
    padding: $padding;
    position: fixed;
    bottom: $padding;
    right: $padding;
    text-align: center;
    background-color: $background-color;
    color: $color;
    border-radius: $border-radius;

    a {
      color: $color;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  #heading {
    font-size: 2rem;
    font-weight: bold;
  }

  #info,
  .info {
    display: flex;
    position: relative;
    background-color: $background-color;
    color: $text;
    border-radius: $border-radius;
    backdrop-filter: $blur;
    flex-direction: column;
    align-content: center;
    padding: calc(2 * $padding);
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;

    img {
      align-self: center;
      width: 15rem;
    }

    img.NT4-0-icon {
      width: 50%;
      height: auto;
    }
  }

  li {
    list-style: disc;
  }

  .level-one {
    font-weight: 700;
    font-size: 1.484375rem;
  }

  .level-two {
    font-weight: 600;
    font-size: 1.34375rem;
  }

  .level-three {
    font-weight: 580;
    font-size: 1.1953125rem;
  }

  .div-level-two {
    height: 100%;
    margin-left: 20px;
  }

  .bolden {
    font-weight: 600;
  }

  a {
    color: $link;
    text-decoration: none;
  }

  kbd {
    background-color: $background-color;
    backdrop-filter: $blur;
    border-radius: 10%;
    padding: 1px 2.5px;
    color: #000;
  }

  // Navbar styling
  nav {
    background-color: $background-color;
    backdrop-filter: $blur;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    list-style: none;

    ul {
      flex-wrap: nowrap;
      display: none;
    }

    ul>li.nav,
    ul>li.nav a,
    ul>li.nav a:visited {
      list-style: none;
      margin-right: 20px;
      text-decoration: none;
      color: $link;
      display: inline-block;
    }

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      display: block;
    }

    .dark-mode-toggle {
      height: 60%;
    }

    @media (min-width: 769px) {
      img:nth-child(1) {
        display: block;
      }

      img:nth-child(2) {
        display: none;
      }

      ul {
        display: flex;
      }
    }
  }

  nav>* {
    padding: calc(2 / 3 * $padding);
  }

  .nav:hover,
  li.twelve-k-plus a:hover {
    color: color.adjust($link, $lightness: 20%);
  }

  // Bottom bar styling

  div.bar {
    position: fixed;
    bottom: 0;
    background-color: $background-color;
    backdrop-filter: $blur;
    height: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    align-content: center;

    div {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }

    div.bottom-bar {
      grid-column: 1 / span 3;
    }

    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
    }

    @media (min-width: 1200px) {
      display: none;
    }

    div.carousel-button {
      background-color: $color;
      opacity: 70%;
      mask-image: url("/global/Images/carousel-fluent-ui.svg");
      mask-size: 70% 80%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("/global/Images/carousel-fluent-ui.svg");
      -webkit-mask-size: 70% 80%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }

    div.contents-button {
      background-color: $color;
      opacity: 70%;
      mask-image: url("/global/Images/contents-fluent-ui.svg");
      mask-size: 50% 80%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("/global/Images/contents-fluent-ui.svg");
      -webkit-mask-size: 50% 80%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;

      @media (min-width: 769px) {
        display: none;
      }
    }

    div.did-you-know-button {
      background-color: $color;
      opacity: 70%;
      mask-image: url("/global/Images/did-you-know-fluent-ui.svg");
      mask-size: 60% 80%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("/global/Images/did-you-know-fluent-ui.svg");
      -webkit-mask-size: 60% 80%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }

    div.back-to-top {
      background-color: $color;
      opacity: 70%;
      mask-image: url("/global/Images/back-to-top-fluent-ui.svg");
      mask-size: 60% 80%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("/global/Images/back-to-top-fluent-ui.svg");
      -webkit-mask-size: 60% 80%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
  }

  // Page navigation styling
  div.article-nav {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    margin: 1rem 0;

    @media (max-width: 414px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: $padding;
    }
  }

  div.prxt {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1rem 1fr;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: $padding;

    img {
      height: 3rem;
      object-fit: contain;
      padding-left: calc(1 / 2 * $padding);
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    p {
      margin: 0;
    }

    p.dir {
      font-size: 1rem;
      grid-column: 1;
      grid-row: 1;
    }

    p:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
      font-size: 3rem;
    }

    @media (max-width: 414px) {
      height: 100%;

      img {
        height: auto;
        max-width: 6rem;
      }
    }
  }

  :root {
    --vh: 99dvh;
  }

  img.hamburger-menu-icon {
    width: 32px;
    height: 32px;

    @media (min-width: 769px) {
      display: none;
    }
  }

  img.hamburger-menu-close {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
    width: 24px;
    height: 24px;
  }

  div.hamburger-menu {
    position: fixed;
    height: var(--vh);
    top: 0;
    right: -12rem;
    text-align: center;
    background-color: $background-color;
    backdrop-filter: blur(5px);
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    z-index: 9999;
    transition: right 0.2s ease-out;

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: $padding;
    }

    li {
      padding: 20% 1vw;
      text-align: right;
      list-style: none;
    }

    a {
      color: #3266fb;
      text-decoration: none;
    }

    img.hamburger-menu-logo {
      position: absolute;
      width: 90%;
      bottom: 2%;
    }

    &.show {
      right: 0;
    }
  }

  div#search {
    width: -webkit-fill-available;
    height: 70%;
    position: relative;
  }

  .pagefind-ui {
    height: 100%;
  }

  .pagefind-ui__form {
    height: 100%;
  }

  .pagefind-ui__drawer,
  .pagefind-ui__drawer::after {
    position: fixed;
    top: 12vh;
    // bottom: 2vh;
    width: 96vw !important;
    max-width: 1024px !important;
    height: 80vh !important;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-color;
    padding: $border-radius;
    border: none;
    border-radius: $border-radius;
    scrollbar-width: thin;
    scrollbar-color: gray rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  .pagefind-ui__form::before {
    width: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
    height: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
    top: calc(7 / 10 * 45 / 100 * 7 / 10 * 5rem) !important;
    left: calc(7 / 10 * 8 / 10 * 1.25rem) !important;
    content: "" !important;
    position: absolute !important;
    display: block !important;
    opacity: 0.7 !important;
    -webkit-mask-image: $search-mask !important;
    mask-image: $search-mask !important;
    -webkit-mask-size: 70% !important;
    mask-size: 70% !important;
    z-index: 9 !important;
    pointer-events: none !important;
    mask-repeat: no-repeat;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  .pagefind-ui {
    height: 100% !important;
  }

  .pagefind-ui__form {
    height: 100% !important;
  }

  .pagefind-ui__drawer li {
    border: none !important;
  }

  .pagefind-ui__search-input {
    padding-left: calc(3.5vh + $border-radius) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    height: 100% !important;
  }

  .pagefind-ui__search-clear {
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
    padding: 0 2.5% !important;
  }

  .pagefind-ui__blur {
    position: fixed;
    backdrop-filter: blur(5px);
    top: 12vh;
    bottom: 2vh;
    width: 96vw !important;
    max-width: 1024px !important;
    height: 80vh !important;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  // Styles for the carousel

  section.carousel-wrapper {
    overflow: hidden;
    width: 80vw;
    max-width: 864px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    color: white;
    visibility: visible;
    transition: opacity 0.3s ease-out;

    * {
      box-sizing: border-box;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    div.carousel {
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      @include scrollbars();
    }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 100%;
      scroll-snap-align: center;
      width: 100%;
      height: auto;
      gap: 2rem;

      figcaption {
        text-align: center;
      }
    }

    img.carousel-image {
      opacity: 1;
      position: relative;
      width: 60vw;
      object-fit: contain;
      z-index: 20;
      transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out,
        z-index 0.3s ease-out;

      @media (min-width: 769px) {
        height: 25rem;
      }
    }

    img.carousel-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.5rem;
      filter: invert(1);
    }

    div.carousel-prev,
    div.carousel-next {
      position: absolute;
      top: 50%;
      width: 3rem;
      height: 3rem;
      transform: translateX(-50%);
      cursor: pointer;
      z-index: 1000;

      &::after {
        content: " ";
        position: absolute;
        width: 1rem;
        height: 1rem;
        // top: 50%;
        left: 80%;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }

    div.carousel-prev {
      left: 0;
    }

    div.carousel-next {
      right: 0;

      &::after {
        left: 80%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  button.carousel-open {
    background-color: $background-color;
    color: $color;
    padding: calc(1 * $padding);
    border: none;
    border-radius: calc(1 * $border-radius);
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div.carousel-backdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // inset: 0;
    position: fixed;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.625);
    backdrop-filter: $blur;
    z-index: 7;
    pointer-events: none;

    &.hidden {
      display: none;
    }
  }

  // Styles for the fun fact section
  section.fun-fact {
    background-color: color.change($background-color, $alpha: 0.2);
    backdrop-filter: $blur;
    padding: $padding;
    border-radius: $border-radius;
    margin: $padding 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: opacity 0.3s ease-out;

    h2 {
      margin: 2.5px;
    }

    &::before {
      inset: 0;
      content: "";
      position: absolute;
      background-color: rgba(255, 247, 0, 0.3);
      z-index: -1;
      border-radius: 15px;
    }

    &.show {
      visibility: visible;
      opacity: 1;
      position: fixed;
      bottom: 5.25rem;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1440px) {
      opacity: 1;
      display: block;
    }
  }

  // Table styling
  table {
    border-collapse: separate;
    border-radius: $border-radius;
    border: none;
    border-spacing: 0;
    background-color: $background-color;
    margin: 10px;
    backdrop-filter: $blur;
    float: none;
    width: 98%;
  }

  table caption {
    padding: $padding;
    background-color: inherit;
    border: solid 0.5px $color;
  }

  .previous-release {
    background-color: rgba(255, 222, 173, 0.7);
  }

  .current-release {
    background-color: rgba(152, 221, 157, 0.7);
  }

  .beta-release {
    background-color: rgba(176, 231, 255, 0.7);
  }

  .security-response {
    background-color: rgba(195, 156, 227, 0.7);
  }

  th,
  td {
    border: solid 0.5px $color;
    padding: $padding;

    p {
      margin: 0;
    }
  }

  td.top,
  th.top {
    border-top: 2px solid $color;
  }

  .left {
    border-left: 2px solid $color;
  }

  .right {
    border-right: 2px solid $color;
  }

  .bottom {
    border-bottom: 2px solid $color;
  }

  .top-left {
    border-top: 2px solid $color;
    border-left: 2px solid $color;
    border-top-left-radius: $border-radius;
  }

  .top-right {
    border-top: 2px solid $color;
    border-right: 2px solid $color;
    border-top-right-radius: $border-radius;
  }

  .bottom-left {
    border-bottom: 2px solid $color;
    border-left: 2px solid $color;
    border-bottom-left-radius: $border-radius;
  }

  .bottom-right {
    border-bottom: 2px solid $color;
    border-right: 2px solid $color;
    border-bottom-right-radius: $border-radius;
  }
}

@mixin index-styles($background-color,
  $background-color-2,
  $blur,
  $border-radius,
  $color) {
  body {
    background-image: url(/global/OSPedia-background.svg);
  }

  div#card-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  main h2 {
    border-top: 0;
  }

  div.info {
    display: none !important;
  }

  div.home-os-cards {
    border-radius: 10px;
    position: relative;
    height: 50rem;
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;
    flex: 0 0 95%;
    scroll-snap-align: center;

    &::after {
      // backdrop-filter: $blur;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      background-color: $background-color;
      border-radius: $border-radius;
    }

    * {
      z-index: 1;
      position: relative;
    }
  }

  div.home-os-cards div.top {
    height: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    display: flex;
  }

  div.home-os-cards div.home-overlay {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: $blur;
    height: 100%;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius $border-radius 0 0;
  }

  div.home-os-cards>div.bottom {
    height: 50%;
    margin: 1vh 1vw;
    padding: 1vh 2vw;
    border: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  div.home-os-cards img.logo {
    max-width: 60%;
    max-height: 60%;
    filter: drop-shadow(0 0 120px black);
  }

  div#top-banner {
    width: 100%;
    height: 360px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      align-self: center;
      max-height: 40%;
      left: 50%;
    }
  }

  body {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div.extras {
    display: none;
  }

  div.wrapper main {
    @media (min-width: 1440px) {
      grid-column: span 2;
      max-width: 1034px;

      main {
        max-width: 100%;
      }
    }
  }

  .marquee {
    --width: -100%;
    width: 100%;
    height: 4rem;
    white-space: nowrap;
    box-sizing: border-box;

    div {
      display: inline-flex;
      height: 100%;
      width: max-content;
      animation: marquee 1s linear infinite;
      animation-play-state: paused;
      gap: 2rem;
    }

    img {
      height: 100%;
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(var(--width), 0);
    }
  }
}

@mixin demos($background-color, $padding, $border-radius) {
  body {
    background-image: url("/global/OSPedia-background.svg");
  }

  div.wrapper {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  div.screen-container {
    margin-top: 15px;
    height: auto !important;
    // min-height: 480px;
    background-color: #000;
    width: 640px;

    canvas {
      width: 640px !important;
      height: auto !important;
    }
  }

  div.demo-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    margin: 15px 0;
    gap: 10px;

    button {
      padding: $padding;
      background-color: $background-color;
      border-radius: $border-radius;
      border: none;
      color: inherit;
    }
  }

  div.card {
    h3 {
      display: flex;
      align-items: center;

      img {
        height: 3rem;
        padding-right: 1rem;
      }
    }
  }
}
