@use "./variables" as *;

div#search {
  width: -webkit-fill-available;
  height: 70%;
  position: relative;
}

.pagefind-ui {
  height: 100%;
}

.pagefind-ui__form {
  height: 100%;
}

.pagefind-ui__drawer,
.pagefind-ui__drawer::after {
  position: fixed;
  top: 12vh;
  // bottom: 2vh;
  width: 96vw !important;
  max-width: 1024px !important;
  height: 80vh !important;
  left: 50%;
  transform: translateX(-50%);
  // transform: translateY(-50%);
  background-color: $background-color;
  padding: $border-radius;
  border: none;
  border-radius: $border-radius;
  scrollbar-width: thin;
  scrollbar-color: gray rgba(255, 255, 255, 0);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.pagefind-ui__form::before {
  background-color: #393939 !important;
  width: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
  height: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
  top: calc(7 / 10 * 45 / 100 * 7 / 10 * 5rem) !important;
  left: calc(7 / 10 * 8 / 10 * 1.25rem) !important;
  content: "" !important;
  position: absolute !important;
  display: block !important;
  opacity: 0.7 !important;
  -webkit-mask-image: url("/global/Images/search.svg") !important;
  mask-image: url("/global/Images/search.svg") !important;
  -webkit-mask-size: 70% !important;
  mask-size: 70% !important;
  z-index: 9 !important;
  pointer-events: none !important;
  mask-repeat: no-repeat;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.pagefind-ui {
  height: 100% !important;
}

.pagefind-ui__form {
  height: 100% !important;
}

.pagefind-ui__drawer li {
  border: none !important;
}

.pagefind-ui__search-input {
  padding-left: calc(3.5vh + $border-radius) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  height: 100% !important;
}

.pagefind-ui__search-clear {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  padding: 0 2.5% !important;
}

.pagefind-ui__blur {
  position: fixed;
  backdrop-filter: blur(5px);
  top: 12vh;
  bottom: 2vh;
  width: 96vw !important;
  max-width: 1024px !important;
  height: 80vh !important;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
