$border-radius: 15px;
$border: none;
$background-color: rgba(0, 0, 0, 0.75);
$blur: blur(5px);
$padding: 15px;
@use "./mixins" as *;

* {
  transform: none;
  filter: none;
  will-change: auto;
}

:root {
  --pagefind-ui-text: white;
  --pagefind-ui-primary: white;
  --pagefind-ui-background: rgba(0, 0, 0, 0.75);
  --pagefind-ui-border: gray;
}

// Global styles
html {
  @media (min-width: 769px) {
    height: 100%;
    overflow: hidden;
  }
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url(/global/OSPedia-background.svg);
  color: #fff;

  @media (min-width: 769px) {
    overflow: hidden;
    background-size: cover;
    background-attachment: scroll;
  }
}

// Define grid-related styles here
div.wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: $background-color;

  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100dvh;
    backdrop-filter: $blur;
    height: 100dvh;
    overflow: hidden;
    @include scrollbars;

    aside.tree {
      grid-column: 1;
    }

    main {
      grid-column: 2;
      grid-row: 1;
    }
  }

  @media (min-width: 1366px) {
    grid-template-columns: 1fr 70ch 1fr;
    grid-template-rows: 1fr;

    aside.tree {
      grid-row: 1;
      grid-column: 1;
    }

    main {
      grid-row: 1;
      grid-column: 2;
    }

    div.contents {
      grid-row: 1;
      grid-column: 3;
    }
  }
}

main,
aside.tree,
div.contents {
  padding: $padding;
  min-height: 0;
  overflow: scroll;
  box-sizing: border-box;
  @include scrollbars;

  @media (min-width: 1366px) {
    height: 100%;
  }
}

main {
  width: 100%;
  padding: 0;
  // padding-top: 5rem;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  grid-row: 2;

  h2.level-one {
    scroll-margin-top: 5rem;
    padding-top: 1rem;
    border-top: solid 1px white;
  }

  div.wrapped {
    width: 100%;
    max-width: 70ch;
    height: 100%;
    // padding-top: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  div.content {
    width: 100%;
    height: calc(100dvh - 5rem);
    background-color: $background-color;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top: 5rem;
    padding: $padding;
    box-sizing: border-box;
    @include scrollbars;
  }

  @media (min-width: 769px) {
    background-attachment: scroll;
  }
}

aside.tree {
  width: max-content;
  padding: $padding;
  padding-top: 5rem;
  display: none;
  color: white;
  overflow-x: hidden;
  scrollbar-width: thin;
  grid-column: 1;
  height: 100%;
  overflow: auto;

  div.tree-os-name {
    position: sticky;
    top: 0;
    font-size: 2rem;
  }

  @media (min-width: 769px) {
    display: block;
    display: flex;
    flex-direction: column;
    justify-self: end;
  }
}

div.contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  padding: $padding;
  border-radius: $border-radius;
  margin-bottom: calc(2 * $padding);
  width: 100%;

  h2 {
    color: white;
  }

  div.links {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
    max-width: 16rem;

    a {
      padding: calc(1 / 4 * $padding) 0;
    }

    a.subheadings {
      padding-left: $padding;
    }

    a.subsubheadings {
      padding-left: calc(2 * $padding);
    }
  }

  @media (min-width: 1366px) {
    padding-top: 4rem;
    justify-self: start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0);
    width: max-content;

    div.links {
      align-items: flex-start;
    }
  }
}

h2#toc {
  scroll-margin-top: 5rem;
}

div#back-to-top {
  padding: $padding;
  position: fixed;
  bottom: $padding;
  right: $padding;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  border-radius: $border-radius;

  a {
    color: #000;
  }

  @media (min-width: 1366px) {
    display: none;
  }
}

#heading {
  font-size: 2rem;
  font-weight: bold;
}

#info,
.info {
  display: flex;
  position: relative;
  background-color: $background-color;
  border-radius: $border-radius;
  backdrop-filter: $blur;
  flex-direction: column;
  align-content: center;
  padding: calc(2 * $padding);
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;

  img {
    align-self: center;
    width: 15rem;
  }

  img.NT4-0-icon {
    width: 50%;
    height: auto;
  }
}

li {
  list-style: disc;
}

.level-one {
  font-weight: 700;
  font-size: 1.484375rem;
}

.level-two {
  font-weight: 600;
  font-size: 1.34375rem;
}

.level-three {
  font-weight: 580;
  font-size: 1.1953125rem;
}

.div-level-two {
  height: 100%;
  margin-left: 20px;
}

.bolden {
  font-weight: 600;
}

a {
  color: #3094ff;
  text-decoration: none;
}

kbd {
  background-color: $background-color;
  backdrop-filter: $blur;
  border-radius: 10%;
  padding: 1px 2.5px;
  color: #000;
}

// Navbar styling
nav {
  background-color: $background-color;
  backdrop-filter: $blur;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  list-style: none;

  ul {
    flex-wrap: nowrap;
    display: none;
  }

  ul>li.nav,
  ul>li.nav a,
  ul>li.nav a:visited {
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
    color: #3266fb;
    display: inline-block;
  }

  img:nth-child(1) {
    display: none;
  }

  img:nth-child(2) {
    display: block;
  }

  .dark-mode-toggle {
    height: 60%;
    filter: invert(1);
  }

  @media (min-width: 769px) {
    img:nth-child(1) {
      display: block;
    }

    img:nth-child(2) {
      display: none;
    }

    ul {
      display: flex;
    }
  }
}

nav>* {
  padding: 10px;
}

.nav:hover {
  color: #001fff;
}

// Page navigation styling
div.article-nav {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  color: #000;
  margin: 1rem 0;

  @media (max-width: 414px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $padding;
  }
}

div.prxt {
  padding: calc(1 / 2 * $padding);
  margin: calc(1 / 2 * $padding);
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  backdrop-filter: $blur;
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;
    text-align: center;
  }

  img {
    height: 3rem;
    object-fit: contain;
    padding-right: calc(1 / 2 * $padding);
  }

  @media (max-width: 414px) {
    height: 100%;

    span {
      flex-direction: column;
    }

    img {
      height: auto;
      max-width: 6rem;
    }
  }
}

:root {
  --vh: 99dvh;
}

img.hamburger-menu-icon {
  width: 32px;
  height: 32px;

  @media (min-width: 769px) {
    display: none;
  }
}

img.hamburger-menu-close {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
  width: 24px;
  height: 24px;
}

div.hamburger-menu {
  position: fixed;
  height: var(--vh);
  top: 0;
  right: -12rem;
  text-align: center;
  background-color: $background-color;
  backdrop-filter: blur(5px);
  border-radius: $border-radius 0 0 $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  width: 10rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  z-index: 9999;
  transition: right 0.2s ease-out;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  li {
    padding: 20% 1vw;
    text-align: right;
    list-style: none;
  }

  a {
    color: #3266fb;
    text-decoration: none;
  }

  img.hamburger-menu-logo {
    position: absolute;
    width: 90%;
    bottom: 2%;
  }

  &.show {
    right: 0;
  }
}

div#search {
  width: -webkit-fill-available;
  height: 70%;
  position: relative;
}

.pagefind-ui__drawer,
.pagefind-ui__drawer::after {
  position: fixed;
  top: 12vh;
  width: 96vw !important;
  max-width: 1024px !important;
  height: 80vh !important;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background-color;
  padding: $padding;
  border: none;
  border-radius: $border-radius;
  scrollbar-width: thin;
  scrollbar-color: gray rgba(255, 255, 255, 0);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.pagefind-ui__form::before {
  background-color: rgba(255, 255, 255, 0.8) !important;
  width: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
  height: calc(7 / 10 * 8 / 10 * 7 / 10 * 5rem) !important;
  top: calc(7 / 10 * 45 / 100 * 7 / 10 * 5rem) !important;
  left: calc(7 / 10 * 8 / 10 * 1.25rem) !important;
  content: "" !important;
  position: absolute !important;
  display: block !important;
  opacity: 1 !important;
  -webkit-mask-image: url("/global/Images/search-dark.svg") !important;
  mask-image: url("/global/Images/search-dark.svg") !important;
  -webkit-mask-size: 70% !important;
  mask-size: 70% !important;
  z-index: 9 !important;
  pointer-events: none !important;
  mask-repeat: no-repeat;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.pagefind-ui {
  height: 100% !important;
}

.pagefind-ui__form {
  height: 100% !important;
}

.pagefind-ui__drawer li {
  border: none !important;
}

.pagefind-ui__search-input {
  padding-left: calc(3.5vh + $border-radius) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  height: 100% !important;

  &::placeholder {
    color: white !important;
    opacity: 0.8 !important;
  }

  &::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8 !important;
  }

  &::-moz-placeholder {
    color: white !important;
    opacity: 0.8 !important;
  }
}

.pagefind-ui__search-clear {
  height: calc(100% - 4px) !important;
  top: 0 !important;
  right: 0 !important;
  padding: 0 $padding !important;
  box-sizing: border-box !important;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: rgba(50, 50, 50, 0.75);
  }
}

.pagefind-ui__blur {
  position: fixed;
  backdrop-filter: blur(5px);
  top: 12vh;
  bottom: 2vh;
  width: 96vw !important;
  max-width: 1024px !important;
  height: 80vh !important;
  padding: $padding;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

// Table styling
table {
  border-collapse: separate;
  border-radius: 10px;
  border: none;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  margin: 10px;
  backdrop-filter: blur(2.5px);
  float: none;
  width: 98%;
}

table.releases {
  height: 400px !important;
  overflow-y: scroll;
}

.previous-release {
  background-color: rgba(255, 222, 173, 0.7);
}

.current-release {
  background-color: rgba(152, 221, 157, 0.7);
}

.beta-release {
  background-color: rgba(176, 231, 255, 0.7);
}

.security-response {
  background-color: rgba(195, 156, 227, 0.7);
}

th,
td {
  border: solid 0.5px #000;
  padding: 10px;
}

td.top,
th.top {
  border-top: 2px solid #000;
}

.left {
  border-left: 2px solid #000;
}

.right {
  border-right: 2px solid #000;
}

.bottom {
  border-bottom: 2px solid #000;
}

.top-left {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-top-left-radius: 10px;
}

.top-right {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-top-right-radius: 10px;
}

.bottom-left {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom-left-radius: 10px;
}

.bottom-right {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom-right-radius: 10px;
}
