@use "./variables" as *;

div#card-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

div.home-os-cards {
  border-radius: 10px;
  position: relative;
  height: 50rem;
  margin: 1vh 2vw;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  backdrop-filter: $blur;
}

div.home-os-cards div.top {
  height: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

div.home-os-cards div.home-overlay {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: $blur;
  height: 100%;
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

div.home-os-cards>div.bottom {
  height: 50%;
  margin: 1vh 1vw;
  padding: 1vh 2vw;
  border: none;
  border-radius: 0 0 10px 10px;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

div.home-os-cards img.logo {
  max-width: 60%;
  max-height: 60%;
  filter: drop-shadow(0 0 120px black);
}

div#top-banner {
  width: 100%;
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    align-self: center;
    max-height: 40%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  div#card-container {
    display: block;
  }
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.contents {
  display: none;
}

div.wrapper {
  max-width: 1366px;
}

div.wrapper main {
  grid-column: span 2;

  div.content {
    max-width: 100%;
  }
}

.marquee {
  --width: -100%;
  width: 100%;
  height: 4rem;
  white-space: nowrap;
  box-sizing: border-box;

  div {
    display: inline-flex;
    height: 100%;
    // padding-left: 100%;
    width: max-content;
    animation: marquee 1s linear infinite;
    animation-play-state: paused;
    gap: 2rem;
  }

  img {
    height: 100%;
    // margin: 0 1rem;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(var(--width), 0);
  }
}
