    <aside class="tree" data-pagefind-ignore>
      <span id="heading">Operating Systems</span>
      {% if tags and "winpedia-pages" in tags or "homepages" in tags %}
      <details open>
      {% else %}
      <details>
      {% endif %}
        <summary class="tree-os-name"><b>Windows</b></summary>
        <p><a href="/WinPedia/Windows_1.0.html">Windows 1.0</a></p>
        <p><a href="/WinPedia/Windows_2.0.html">Windows 2.0</a></p>
        <p><a href="/WinPedia/Windows_3.0.html">Windows 3.0</a></p>
        <p><a href="/WinPedia/Windows_3.1.html">Windows 3.1</a></p>
        <p><a href="/WinPedia/Windows_95.html">Windows 95</a></p>
        <p><a href="/WinPedia/Windows_NT4.0.html">Windows NT 4.0</a></p>
        <p><a href="/WinPedia/Windows_98.html">Windows 98</a></p>
        <p><a href="/WinPedia/Windows_2000.html">Windows 2000</a></p>
        <p><a href="/WinPedia/Windows_ME.html">Windows ME</a></p>
        <p><a href="/WinPedia/Windows_XP.html">Windows XP</a></p>
        <p><a href="/WinPedia/Windows_Vista.html">Windows Vista</a></p>
        <p><a href="/WinPedia/Windows_7.html">Windows 7</a></p>
        <p><a href="/WinPedia/Windows_8.html">Windows 8</a></p>
        <p><a href="/WinPedia/Windows_8.1.html">Windows 8.1</a></p>
        <p><a href="/WinPedia/Windows_10.html">Windows 10</a></p>
        <p><a href="/WinPedia/Windows_11.html">Windows 11</a></p>
        <p><a href="/WinPedia/Other.html">Other Versions of Windows</a></p>
        </details>
      {% if tags and "macpedia-pages" in tags or "homepages" in tags %}
      <details open>
      {% else %}
      <details>
      {% endif %}
        <summary class="tree-os-name"><b>macOS</b></summary>
        <p><a href="/MacPedia/ClassicMacOS.html">Classic Mac OS</a></p>
        <p><a href="/MacPedia/Mac_OS_X_10.0_Cheetah.html">Mac OS X 10.0</a></p>
        <p><a href="/MacPedia/Mac_OS_X_10.1_Puma.html">Mac OS X 10.1</a></p>
        <p><a href="/MacPedia/Mac_OS_X_Jaguar.html">Mac OS X Jaguar</a></p>
        <p><a href="/MacPedia/Mac_OS_X_Panther.html">Mac OS X Panther</a></p>
        <p><a href="/MacPedia/Mac_OS_X_Tiger.html">Mac OS X Tiger</a></p>
        <p><a href="/MacPedia/Mac_OS_X_Leopard.html">Mac OS X Leopard</a></p>
        <p><a href="/MacPedia/Mac_OS_X_Snow_Leopard.html">Mac OS X Snow Leopard</a></p>
        <p><a href="/MacPedia/OS_X_Lion.html">OS X Lion</a></p>
        <p><a href="/MacPedia/OS_X_Mountain_Lion.html">OS X Mountain Lion</a></p>
        <p><a href="/MacPedia/OS_X_Mavericks.html">OS X Lion</a></p>
        <p><a href="/MacPedia/OS_X_Mavericks.html">OS X Mavericks</a></p>
        <p><a href="/MacPedia/OS_X_Yosemite.html">OS X Yosemite</a></p>
        <p><a href="/MacPedia/OS_X_El_Capitan.html">OS X El Capitan</a></p>
        <p><a href="/MacPedia/macOS_Sierra.html">macOS Sierra</a></p>
        <p><a href="/MacPedia/macOS_High_Sierra.html">macOS High Sierra</a></p>
        <p><a href="/MacPedia/macOS_Mojave.html">macOS Mojave</a></p>
        <p><a href="/MacPedia/macOS_Catalina.html">macOS Catalina</a></p>
        <p><a href="/MacPedia/macOS_Big_Sur.html">macOS Big Sur</a></p>
        <p><a href="/MacPedia/macOS_Monterey.html">macOS Monterey</a></p>
        <p><a href="/MacPedia/macOS_Ventura.html">macOS Ventura</a></p>
        <p><a href="/MacPedia/macOS_Sonoma.html">macOS Sonoma</a></p>
        <p><a href="/MacPedia/macOS_Sequoia.html">macOS Sequoia</a></p>
        <p><a href="/MacPedia/macOS_Tahoe.html">macOS Tahoe</a></p>
    </details>
    </aside>
