<footer>
  <div>
    <a href="/">Home</a>
    <a href="/directory/">Directory</a>
    <a href="/windows/">Windows</a>
    <a href="/macos/">macOS</a>
    <a href="/ubuntu/">Ubuntu</a>
  </div>
</footer>
