<footer>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/directory/">Directory</a>
    <a href="/windows/">Windows</a>
    <a href="/macos/">macOS</a>
    <a href="/ubuntu/">Ubuntu</a>
  </div>

  <p>All content is licensed under the Creative Commons Attribution Share-Alike 4.0 (CC BY-SA 4.0).</p>

  <p>Found a mistake? Want to add something? Report it on our <a
      href="https://github.com/Keyboard1000n17/OSPedia">GitHub</a> or fix it yourself! Contributors are very much
    appreciated!</p>
</footer>
