<nav>
  <img src="/global/OSPedia-logo.svg" alt="logo" height="70%" />
  <img src="/global/OSPedia-favicon.svg" alt="logo" height="70%" />
  <div id="search"></div>
  <img src="/global/Images/light-dark-mode-button.png" alt="toggle dark mode" class="dark-mode-toggle" />
  <ul>
    <li class="nav"><a href="/index.html" class="nav">Home</a></li>
    <li class="nav"><a href="/demos/index.html">Demos</a></li>
    <li class="nav"><a href="/WinPedia/index.html">WinPedia</a></li>
    <li class="nav"><a href="/MacPedia/index.html">MacPedia</a></li>
    <li class="nav">
      <a href="/about.html" class="nav">About</a>
    </li>
  </ul>
  <img src="/global/Images/hamburger.svg" class="hamburger-menu-icon" alt="Open hamburger menu" />
</nav>
<div class="hamburger-menu">
  <img src="/global/Images/close.png" class="hamburger-menu-close" alt="Close hamburger menu">
  <ul>
    <li class="nav"><a href="/index.html" class="nav">Home</a></li>
    <li class="nav"><a href="/demos/index.html">Demos</a></li>
    <li class="nav"><a href="/WinPedia/index.html">WinPedia</a></li>
    <li class="nav"><a href="/MacPedia/index.html">MacPedia</a></li>
    <li class="nav">
      <a href="/about.html" class="nav">About</a>
    </li>
  </ul>
  <img src="/global/OSPedia-logo.svg" alt="logo" class="hamburger-menu-logo"/>
</div>
<div class="hamburger-menu-blur"></div>
