<nav>
  <img src="/global/OSPedia-logo.svg" alt="logo" height="70%">
  <img src="/global/OSPedia-favicon.svg" alt="logo" height="70%" />
  <pagefind-input></pagefind-input>
  <img src="/global/images/light-dark-mode-button.png" alt="toggle dark mode" class="dark-mode-toggle" />
  <ul>
    <li class="nav"><a href="/index.html" class="nav">Home</a></li>
    <li class="nav"><a href="/directory/index.html">Directory</a></li>
    <li class="nav twelve-k-plus"><a href="/windows/index.html">Windows</a></li>
    <li class="nav twelve-k-plus"><a href="/macos/index.html">macOS</a></li>
    <li class="nav twelve-k-plus"><a href="/demos/index.html">Demos</a></li>
    <li class="nav">
      <a href="/about.html" class="nav">About</a>
    </li>
  </ul>
  <button class="hamburger-menu-icon"></button>
</nav>
<div class="hamburger-menu">
  <button class="hamburger-menu-close"></button>
  <ul>
    <li class="nav"><a href="/index.html">Home</a></li>
    <li class="nav"><a href="/demos/index.html">Demos</a></li>
    <li class="nav"><a href="/windows/index.html">Windows</a></li>
    <li class="nav"><a href="/macos/index.html">macOS</a></li>
    <li class="nav">
      <a href="/about.html" class="nav">About</a>
    </li>
  </ul>
</div>
<div class="hamburger-menu-blur"></div>
