<nav>
  <img src="/global/OSPedia-logo.svg" alt="logo" height="70%" />
  <img src="/global/OSPedia-favicon.svg" alt="logo" height="70%" />
  <div id="search"></div>
  <ul>
    <li class="nav"><a href="/index.html" class="nav">Home</a></li>
    <li class="nav"><a href="/WinPedia/index.html">WinPedia</a></li>
    <li class="nav"><a href="/MacPedia/index.html">MacPedia</a></li>
    <li class="nav">
      <a href="/about.html" class="nav">About</a>
    </li>
  </ul>
  <div class="hamburger-menu">
    <img src="/global/Images/hamburger.svg" class="hamburger-menu-icon" alt="Hamburger menu button" />
    <div class="hamburger-menu-child">
      <ul>
        <li class="nav"><a href="/index.html" class="nav">Home</a></li>
        <li class="nav"><a href="/WinPedia/index.html">WinPedia</a></li>
        <li class="nav"><a href="/MacPedia/index.html">MacPedia</a></li>
        <li class="nav">
          <a href="/about.html" class="nav">About</a>
        </li>
      </ul>
      <img src="/global/OSPedia-logo.svg" alt="logo" class="hamburger-menu-logo"/>
    </div>
  </div>
</nav>
