{% set currentCollection = null %}
{% if tags and "windows-pages" in tags %}
{% set currentCollection = collections['windows-pages'] %}
{% elif tags and "macos-pages" in tags %}
{% set currentCollection = collections['macos-pages'] %}
{% endif %}
{% if tags and "homepages" in tags %}
{% set currentCollection = null %}
{% endif %}

{% if currentCollection %}
<div class="article-nav">
  {% set previousArticle = currentCollection | getPreviousCollectionItem(page)%}
  {% set nextArticle = currentCollection | getNextCollectionItem(page)%}
  {% if previousArticle %}
  <a href="{{ previousArticle.url}}" rel="prev" class="prxt prev">
    <div class="prxt">
      <p>
        &lt; Previous
      </p>
      <span>
        {% if previousArticle.data.favicon %}
        <img src="../{{ previousArticle.fileSlug }}/{{ previousArticle.data.favicon }}"
          alt="{{ previousArticle.data.title }}" />
        {% endif %} <p>{{ previousArticle.data.title }}</p>
      </span>
    </div>
  </a>
  {% endif %}

  {% if nextArticle %}
  <a href="{{ nextArticle.url }}" rel="next" class="prxt next">
    <div class="prxt">
      <p>
        Next &gt;
      </p>
      <span>
        {% if nextArticle.data.favicon %}
        <img src="../{{ nextArticle.fileSlug }}/{{ nextArticle.data.favicon }}" alt="{{ nextArticle.data.title }}" />
        {% endif %}
        <p>{{ nextArticle.data.title }}</p>
      </span>
    </div>
  </a>
  {% endif %}
</div>
{% endif %}
