<!-- prettier-ignore -->
<!doctype html>
<html>

<head>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} - OSPedia</title>
  <link href="/global/stylesheets/fluentUIstyling.css" rel="stylesheet" />
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
  <script src="/pagefind/pagefind-ui.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="/global/OSPedia-favicon.svg" />
</head>


{% if background_image %}
{% if tags and "homepages" in tags %}
{% set style = "background-image: url(\"" ~ background_image ~ "\")" %}
{% else %}
{% set style = "background-image: url(\"./Images/Wallpapers/" ~ background_image ~ "\")" %}
{% endif %}
{% else %}
{% set style = "color: black" %}
{% endif %}

<body style="{{ style }}">

  {% include "_nav.njk" %}
  <main>
    {{ content | safe }}
  </main>

  {% set currentCollection = null %}
  {% if tags and "winpedia-pages" in tags %}
  {% set currentCollection = collections['winpedia-pages'] %}
  {% elif tags and "macpedia-pages" in tags %}
  {% set currentCollection = collections['macpedia-pages'] %}
  {% endif %}

  {% if currentCollection %}
  <div class="article-nav">
    {% set previousArticle = currentCollection | getPreviousCollectionItem(page)%}
    {% set nextArticle = currentCollection | getNextCollectionItem(page)%}
    {% if previousArticle %}
    <a href="{{ previousArticle.url}}" rel="prev" class="prxt prev">
      <div class="prxt">
        {% if previousArticle.data.favicon %}
        <img src="./Images/Icons/{{ previousArticle.data.favicon }}" alt="{{ previousArticle.data.title }}" />
        {% endif %} <p>{{ previousArticle.data.title }}</p>
      </div>
    </a>
    {% endif %}

    {% if nextArticle %}
    <a href="{{ nextArticle.url }}" rel="next" class="prxt next">
      <div class="prxt">
        <p>{{ nextArticle.data.title }}</p>
        {% if nextArticle.data.favicon %}
        <img src="./Images/Icons/{{ nextArticle.data.favicon }}" alt="{{ nextArticle.data.title }}" />
        {% endif %}
      </div>
    </a>
    {% endif %}
  </div>
  {% if currentCollection == collections["macpedia-pages"] %}
  <template>
    <tr>
      <td class="left version"></td>
      <td class="build"></td>
      <td class="release-date"></td>
      <td class="darwin-version"></td>
      <td class="right release-notes"></td>
    </tr>
  </template>
  <script src="/MacPedia/tables.js"></script>
  {% endif %}
  {% endif %}
  <div class="pagefind-ui__blur"></div>
  <script src="/hamburger.js"></script>
</body>

</html>
