<!doctype html>
<html>

<head>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} - OSPedia</title>
  <link href="/global/stylesheets/fluentUI.css" rel="stylesheet" />
  {% if page.url == "/" %}
  <link rel="stylesheet" href="/global/stylesheets/index-page-styles.css" />
  {% elif page.url == "/WinPedia/" or page.url == "/MacPedia/" %}
  <link rel="stylesheet" href="/global/stylesheets/homepage-styles.css" />
  {% endif %}
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
  <script src="/pagefind/pagefind-ui.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="/global/OSPedia-favicon.svg" />
</head>

{% if background_image %}
{% if tags and "homepages" in tags %}
{% set style = "background-image: url(\"" ~ background_image ~ "\")" %}
{% else %}
{% set style = "background-image: url(\"./Images/Wallpapers/" ~ background_image ~ "\")" %}
{% endif %}
{% else %}
{% set style = "color: black" %}
{% endif %}

<body>

  {% include "_nav.njk" %}
  <div class="wrapper">
    {% include "_aside.njk" %}

    <main style="{{ style }}">
      <div class="content">
        {% if tags and not "homepages" in tags %}
        <h1 id="heading">{{ title }}</h1>
        {% endif %}
        {% include "_page-nav.njk" %}
        {{ content | safe }}
      </div>
    </main>
    <div class="contents">
      <h2 id="toc">Contents</h2>
      <noscript>Enable JavaScript for the best experience!</noscript>
    </div>
  </div>

  {% if tags and "macpedia-pages" in tags %}
  <template>
    <tr>
      <td class="left version"></td>
      <td class="build"></td>
      <td class="release-date"></td>
      <td class="darwin-version"></td>
      <td class="right release-notes"></td>
    </tr>
  </template>
  <script src="/MacPedia/tables.js"></script>
  {% endif %}

  <div id="back-to-top">Back to top</div>
  <div class="pagefind-ui__blur"></div>
  <script src="/script.js"></script>
</body>

</html>
