<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} - OSPedia</title>
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
  <link href="/global/stylesheets/fluent-ui-light.css" rel="stylesheet" id="setSs" />
  {% if tags and "demo-pages" in tags %}
  <link rel="stylesheet" href="/global/stylesheets/demos.css">
  {% elif tags and "homepages" in tags and page.url != "/" %}
  <link rel="stylesheet" href="/global/stylesheets/homepage-styles.css" />
  {% elif page.url == "/" %}
  <link rel="stylesheet" href="/global/stylesheets/index-page-styles-light.css" id="setIndexSs" />
  {% endif %}
  <script src="/pagefind/pagefind-ui.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="/global/OSPedia-favicon.svg" />
</head>

{% if background_image %}
{% if tags and "homepages" in tags %}
{% set style = "background-image: url(\"" ~ background_image ~ "\")" %}
{% else %}
{% set style = "background-image: url(\"./Images/Wallpapers/" ~ background_image ~ "\")" %}
{% endif %}
{% endif %}

<body>

  {% include "_nav.njk" %}
  <div class="wrapper">
    {% include "_aside.njk" %}
    {% if tags and "win-demo-pages" in tags %}
    <main data-pagefind-ignore>
      <h1>{{ title }}</h1>
      <div class="screen_container">
        <div style="white-space: pre; font: 14px monospace; line-height: 18px"></div>
        <canvas style="display: none; width: 100%; height: 100%"></canvas>
      </div>
      <button class="stop">Stop</button>
      <button class="start">Start</button>
      <script src="./libv86.js"></script>
      <script>
        window.disk = "{{ disk }}";
        window.imagePath = "{{ url }}";
      </script>
      <script src="./demos.js"></script>
      <div class="demo-info">{{ content | safe }}</div>
    </main>

    {% elif tags and "mac-demo-pages" in tags %}

    <main data-pagefind-ignore>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

    {% else %}

    <main style="{{ style }}">
      <div class="content">
        {% if tags and not "homepages" in tags %}
        {% include "_page-nav.njk" %}
        <h1 id="heading" data-pagefind-weight="10">{{ title }}</h1>
        {% endif %}
        {{ content | safe }}
      </div>
    </main>

    {% endif %}
    <div class="contents">
      <h2 id="toc">Contents</h2>
      <noscript>Enable JavaScript for the best experience!</noscript>
    </div>
  </div>

  {% if tags and "macpedia-pages" in tags %}
  <template>
    <tr>
      <td class="left version"></td>
      <td class="build"></td>
      <td class="release-date"></td>
      <td class="darwin-version"></td>
      <td class="right release-notes"></td>
    </tr>
  </template>
  <script src="/MacPedia/tables.js"></script>
  {% endif %}

  <div id="back-to-top">Back to top</div>
  <div class="pagefind-ui__blur"></div>
  <script src="/script.js"></script>
  <script src="/themes.js"></script>
</body>

</html>
