<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ title }} - MacPedia</title>
  <link rel="stylesheet" href="../global/stylesheets/fluentUIstyling.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="./Images/MacPedia-favicon.svg" />
</head>

<body style="background-image: url(./Images/Wallpapers/{{ background_image }})">
  <nav>
    <img src="./Images/MacPedia-logo.svg" alt="logo" height="70%" />
    <ul>
      <li class="nav"><a href="../index.html" class="nav">Home</a></li>
      <li class="nav"><a href="../WinPedia/index.html">WinPedia</a></li>
      <li class="nav"><a href="../MacPedia/index.html">MacPedia</a></li>
      <li class="nav">
        <a href="../about.html" class="nav">About</a>
      </li>
    </ul>
    <div class="hamburger-menu">
      <img src="../global/Images/hamburger.svg" alt="Hamburger menu button" />
      <div class="hamburger-menu-child">
        <ul>
          <li class="nav"><a href="../index.html" class="nav">Home</a></li>
          <li class="nav"><a href="../WinPedia/index.html">WinPedia</a></li>
          <li class="nav"><a href="../MacPedia/index.html">MacPedia</a></li>
          <li class="nav">
            <a href="../about.html" class="nav">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{ content | safe }}
  <div class="article-nav">
    {% set currentCollection = collections['macpedia-pages'] %}
    {% set previousArticle = currentCollection | getPreviousCollectionItem(page)%}
    {% set nextArticle = currentCollection | getNextCollectionItem(page)%}
    {% if previousArticle %}
    <a href="{{ previousArticle.url }}" rel="prev" class="prxt prev">
      <div class="prxt">
        {% if previousArticle.data.favicon %}
        <img src="./Images/Icons/{{ previousArticle.data.favicon }}" alt="{{ previousArticle.data.title }}" />
        {% endif %} <p>{{ previousArticle.data.title }}</p>
      </div>
    </a>
    {% endif %}

    {% if nextArticle %}
    <a href="{{ nextArticle.url }}" rel="next" class="prxt next">
      <div class="prxt">
        <p>{{ nextArticle.data.title }}</p>
        {% if nextArticle.data.favicon %}
        <img src="./Images/Icons/{{ nextArticle.data.favicon }}" alt="{{ nextArticle.data.title }}" />
        {% endif %}
      </div>
    </a>
    {% endif %}
  </div>
  <script src="../hamburger.js"></script>
</body>

</html>
